# define pixelstats
type pixelstats_vendor, domain;
type pixelstats_vendor_exec, exec_type, vendor_file_type, file_type;

# Pixel MM Metrics: (Atoms: PixelMmMetricsPerHour, PixelMmMetricsPerDay,
#                    CmaStatus, CmaStatusExt, ZramBdStat, ZramMmStat)
allow pixelstats_vendor kernel:dir search;
allow pixelstats_vendor kernel:file r_file_perms;
allow pixelstats_vendor sysfs_pixel_stat:dir r_dir_perms;
allow pixelstats_vendor sysfs_pixel_stat:file r_file_perms;

# Pixel MM Metrics 2024a2
r_dir_file(pixelstats_vendor, sysfs_vendor_mm)

# Pixel Water Intrusion Stats (h2omg)
#  see h2omg/pixelstats_vendor.te for additional access policies
